In [1]:
import pandas as pd

In [6]:
matrix = pd.read_csv("./data/matrix.csv")

query_book = matrix['Count_Hamlet']

print(query_book)

0        0.0
1      102.0
2       86.0
3        0.0
4      110.0
       ...
491     13.0
492     12.0
493     12.0
494     12.0
495     12.0
Name: Count_Hamlet, Length: 496, dtype: float64

In [8]:
romeo = matrix.iloc[:, 2]
print(romeo)

moby = matrix.iloc[:, 3]
print(moby)

gatsby = matrix.iloc[:, 4]
print(gatsby)

0      280.0
1      275.0
2      170.0
3      169.0
4      148.0
       ...
491      0.0
492      0.0
493      0.0
494      0.0
495      0.0
Name: Count_Romeo, Length: 496, dtype: float64
0        0.0
1      240.0
2      110.0
3        0.0
4        0.0
       ...
491      0.0
492      0.0
493      0.0
494      0.0
495      0.0
Name: Count_Moby, Length: 496, dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
491    0.0
492    0.0
493    0.0
494    0.0
495    0.0
Name: Count_Gatsby, Length: 496, dtype: float64

In [11]:
matrix.transpose()

,0,1,2,3,4,5,6,7,8,9,...,486,487,488,489,490,491,492,493,494,495
Unnamed: 0,0,1,2,3,4,5,6,7,8,9,...,486,487,488,489,490,491,492,493,494,495
Word,romeo,thou,thy,juliet,o,capulet,nurse,thee,love,shall,...,goes,grace,grief,sense,we’ll,sent,ii,e’en,oft,ourselves
Count_Romeo,280.0,275.0,170.0,169.0,148.0,133.0,133.0,132.0,123.0,110.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Count_Moby,0.0,240.0,110.0,0.0,0.0,0.0,0.0,99.0,0.0,85.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Count_Gatsby,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Count_Hamlet,0.0,102.0,86.0,0.0,110.0,0.0,0.0,54.0,60.0,114.0,...,13.0,13.0,13.0,13.0,13.0,13.0,12.0,12.0,12.0,12.0

In [12]:
romeo.shape

(496,)

In [13]:
romeo[:,None].T

<ipython-input-13-f070a0d2f972>:1: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  romeo[:,None].T

array([[280., 275., 170., 169., 148., 133., 133., 132., 123., 110., 104.,
         94.,  81.,  80.,  74.,  74.,  71.,  66.,  65.,  64.,  64.,  63.,
         55.,  55.,  47.,  45.,  44.,  43.,  42.,  41.,  40.,  36.,  33.,
         32.,  29.,  29.,  29.,  28.,  28.,  28.,  28.,  28.,  27.,  27.,
         26.,  26.,  26.,  26.,  26.,  26.,  25.,  25.,  25.,  25.,  25.,
         25.,  24.,  24.,  24.,  23.,  23.,  23.,  23.,  23.,  22.,  22.,
         22.,  22.,  22.,  22.,  22.,  21.,  21.,  21.,  21.,  21.,  21.,
         21.,  21.,  21.,  21.,  20.,  20.,  20.,  20.,  20.,  20.,  20.,
         20.,  19.,  19.,  19.,  18.,  18.,  18.,  18.,  18.,  18.,  17.,
         17.,  17.,  17.,  17.,  17.,  17.,  17.,  17.,  16.,  16.,  16.,
         16.,  16.,  16.,  16.,  16.,  16.,  16.,  16.,  16.,  15.,  15.,
         15.,  15.,  15.,  15.,  15.,  15.,  15.,  15.,  15.,  15.,  14.,
         14.,  14.,  14.,  14.,  14.,  14.,  14.,  14.,  13.,  13.,  13.,
         13.,  13.,  13.,  13.,  13.,  13.,  13.,  13.,  13.,  13.,  13.,
         13.,  13.,  13.,  13.,  13.,  13.,  13.,  13.,  13.,  12.,  12.,
         12.,  12.,  12.,  12.,  12.,  12.,  12.,  12.,  12.,  12.,  12.,
         12.,  12.,  12.,  12.,  12.,  11.,  11.,  11.,  11.,  11.,  11.,
         11.,  11.,  11.,  11.,  11.,  11.,  11.,  11.,  11.,  11.,  11.,
         11.,  11.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.]])