In [24]:
import pandas as pd
import numpy as np

matrix = pd.read_csv("./data/matrix.csv")

query_book = matrix['Count_Hamlet']

# delete first column, unnecessary data (just enumerates the row number)
matrix = matrix.iloc[:, 1:5]

print("Matrix shape: " + str(matrix.shape))

romeo = matrix.iloc[:, 1]
# # # print(romeo)

moby = matrix.iloc[:, 2]
# # print(moby)

gatsby = matrix.iloc[:, 3]
# print(gatsby)

print("Query book shape: " + str(query_book.shape))

Matrix shape: (496, 4)
Query book shape: (496,)

In [2]:
print(matrix)

          Word  Count_Romeo  Count_Moby  Count_Gatsby
0        romeo        280.0         0.0           0.0
1         thou        275.0       240.0           0.0
2          thy        170.0       110.0           0.0
3       juliet        169.0         0.0           0.0
4            o        148.0         0.0           0.0
..         ...          ...         ...           ...
491       sent          0.0         0.0           0.0
492         ii          0.0         0.0           0.0
493       eâ€™en          0.0         0.0           0.0
494        oft          0.0         0.0           0.0
495  ourselves          0.0         0.0           0.0

[496 rows x 4 columns]

In [3]:
print(query_book)

0        0.0
1      102.0
2       86.0
3        0.0
4      110.0
       ...
491     13.0
492     12.0
493     12.0
494     12.0
495     12.0
Name: Count_Hamlet, Length: 496, dtype: float64

***Finding the cosine similarity...***

$$ cos(theta) = (a dot b) / (||a|| * ||b||) $$

a = first column of the book matrix = Count_Romeo <br> b = query_book ... (secretly it's Hamlet)

In [44]:
def magnitude(vec):
    total = 0
    for item in vec:
        total += item**2
    total = np.sqrt(total)
    return total

In [45]:
romeo_cos = romeo @ query_book / (magnitude(romeo) * magnitude(query_book))
romeo_cos

0.33905935163424733

In [46]:
moby_cos = moby @ query_book / (magnitude(moby) * magnitude(query_book))
moby_cos

0.19946357721283134

In [47]:
gatsby_cos = gatsby @ query_book / (magnitude(gatsby) * magnitude(query_book))
gatsby_cos

0.12694400766706107

In [49]:
print('Romeo distance: ' + str(romeo_cos))
print('Moby distance: ' + str(moby_cos))
print('Gatsby distance: ' + str(gatsby_cos))

Romeo distance: 0.33905935163424733
Moby distance: 0.19946357721283134
Gatsby distance: 0.12694400766706107

cos(theta) ranges from 0 to 1. 0 meaning orthogonal or not similar at all, and 1 meaning parallel or highly similar.

Romeo has the cos(theta) that is closest to 1 meaning our query book (which is s