In [37]:
import pandas as pd

matrix = pd.read_csv("./data/matrixCountries.csv")
matrix

     Unnamed: 0       Word  Count_US  Count_Rus  Count
0             0      shall     306.0      383.0  169.0
1             1     states     113.0        0.0    0.0
2             2  president     106.0       90.0    0.0
3             3     united      84.0        0.0    0.0
4             4        any      78.0       14.0   29.0
..          ...        ...       ...        ...    ...
412         412    warrant       0.0        0.0    3.0
413         413     issued       0.0        0.0    3.0
414         414   detained       0.0        0.0    3.0
415         415  witnesses       0.0        0.0    3.0
416         416      makes       0.0        0.0    3.0

[417 rows x 5 columns]

In [60]:
us = matrix.iloc[:, 2]
rus = matrix.iloc[:, 3]
query = matrix.iloc[:, 4]

In [61]:
def magnitude(vec):
    total = 0
    for item in vec:
        total += item**2
    total /= len(vec)
    return total

In [62]:
us_cos = us @ query / magnitude(us) / magnitude(query)
us_cos

1.1575992153179

In [63]:
rus_cos = rus @ query / (magnitude(rus) * magnitude(query))
rus_cos

0.34652481573214505

(417,)